/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Define the size of the map */
#map {
  height: 60vh;
  width: 100vw;
  margin-bottom: -50px; /* Add negative margin to reduce the space between the map and the scoreboard */
}

/* Add new styles to the existing CSS */
.background {
  background: linear-gradient(180deg, skyblue 0%, skyblue 65%, #90ee90 75%, #90ee90 100%);
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  
  background-color: var(--reseda-green); 
  
  /* Replace BASE_COLOR and HIGHLIGHT_COLOR with appropriate color values */
  width: 80vw; /* Set a fixed width */
  /* height: 30vw; Set a fixed height */
  border-radius: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: no; /* Enable scrolling if the content overflows */
  margin-top: -50px; /* Add negative margin to move the scoreboard element closer to the map */
}

.scoreboard:before {
  content: "";
  position: absolute;
  top: 5px; /* Adjust this value to control the distance from the inner border to the outer edge */
  left: 5px; /* Adjust this value to control the distance from the inner border to the outer edge */
  right: 5px; /* Adjust this value to control the distance from the inner border to the outer edge */
  bottom: 5px; /* Adjust this value to control the distance from the inner border to the outer edge */
  border: 5px solid var(--white);
  border-radius: 12px; /* Adjust this value to control the border radius of the inner border */
  pointer-events: none;
}


/* The rest of the existing CSS remains unchanged */


/* Color palette */
:root {
  --white: #f8e2e2;
  --ash-gray: #e0e6dc;
  --ash-gray-2: #BCC4B4;
  --ebony: #4D5D42;
  --reseda-green: #627454;
  --reseda-green-2: #748667;
  --black: #000000;
}

#infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Add the following CSS styles to your styles.css file */

#search-input {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  z-index: 5; /* To make sure the search bar is above the map */
}

/* Typography */
body {
  
  font-family: 'Oswald', sans-serif; /* Change this font to one of the other vintage fonts for the main text */
  color: var(--white); /* Main text color */
  
}
/* Popups */
/* style.css */
.custom-infoTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  align: center;
  color: #333;
  /* Add more styling properties as needed */
}
.custom-infowindow {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #333;
  /* Add more styling properties as needed */
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevan', sans-serif; /* Change this font to one of the other vintage fonts for headings */
  color: var(--ash-gray); /* Heading text color */
  line-height: 1; /* Change this value to adjust the line spacing */
  padding:0%;
}

h3 {
  font-family: 'Oswald', sans-serif; /* Change this font to one of the other vintage fonts for headings */
  color: var(--ash-gray); /* Heading text color */
  letter-spacing: 1px ;
}

number {
  font-family: 'Bungee', sans-serif; /* Change this font to one of the other vintage fonts for numbers */
  font-size: 36px; /* Change this value to adjust the size of the numbers */
  color: var(----ash-gray-2); /* Number text color */
}

/* Links */
a {
  color: var(--reseda-green);
  text-decoration: none;
}

a:hover {
  color: var(--reseda-green-2);
  text-decoration: underline;
}

/* Fine-tuning options */
/* Adjust these values to modify the look and feel of your page */
body {
  line-height: 1.1; /* Change this value to adjust the line spacing */
  font-size: 20px; /* Change this value to adjust the base font size */
  background-color: var(--reseda-green-2); /* Change this value to set a different background color */
  margin: 0;
  padding: 0;
}