@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair Display&display=swap');



:root {
  --dynamic-bg-color: #627454;
  --dynamic-text-color: #f8e2e2;
  --white: #f8e2e2;
  --ash-gray: #e0e6dc;
  --ash-gray-2: #BCC4B4;
  --ebony:#4D5D42;
  --reseda-green: #627454;
  --reseda-green-2: #748667;
  --black: #000000;
  }


.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: relative;
  
  
}

#map {
  position: relative; /* new */
  flex: 4;
  height: 100%;
  width: 100%;
  z-index: 0; /* new */
}

#mapControlsContainer {
  position: absolute;
  top: 20vh;
  left: 20px;
  height: 60vh;
  width: 20vw;
  background-color: var(--ash-gray);
  padding: 10px;
  border-radius: 5px;
  z-index: 5;
  color: var(--black);
  text-align: center;
  justify-content: space-between;
  border: 5px solid blue;
  box-shadow: 0 0 0 5px red;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;  // creates a gap between elements
  
} 

#mapControlsContainer * {
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  color: 'black';
  background-color: '#007BFF';
  border: 'none';
  border-radius: '5px';
  
}

.level-label, .dropdown-label {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.prev-button, .next-button, .division-dropdown {
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

.division-dropdown {
  margin: 10px;
  width: 120px;
  height: 50px;
  position: relative;
}


.slider-container {
  width: 90%;
  
}

.slider {
  
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-labels {
  
  display: flex;
  
  justify-content: space-evenly;
  text-align: left;
  
}
.slider-labels span:first-child {
  transform: rotate(-45deg);
  
}

.slider-labels span:nth-child(2) {
  transform: rotate(-45deg);
  
  
}

.slider-labels span:nth-child(3) {
  transform: rotate(-45deg);

  
}

.slider-labels span:nth-child(4) {
  transform: rotate(-45deg);
  
}

.slider-labels span:last-child {
  transform: rotate(-45deg);
  
}

.slider-labels span {
  width: 20%;
  font-family: 'Oswald', sans-serif;
  font-size: .5em;
}



#distanceBlock {
  position: absolute;
  bottom: 10vh;
  left: 40vw;
  transform: translateX(-50%);
  background-color: var(--dynamic-bg-color);
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  z-index: 5;  // ensure this is higher than other z-indexes
  text-align: center;
  box-shadow: inset 0 0 0 5px var(--dynamic-text-color);
}



#hostInfo {
  position: absolute;
  top: 2%;
  right: 2%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 30vh;
  border: 5px solid var(--black);
  background-color: var(--ash-gray);
  border-radius: 12px;
  padding: 10px;
  overflow: auto;
}

#hostInfo * {
  line-height: .75;
  /* font-size: 1em; */
  font-family: 'Oswald', sans-serif;
  color: var(--black);
  background-color: var(--ash-gray);
  border: none;
  border-radius: 5px;
}

#mapInfo {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


#fieldInfo {
  position: absolute;
  z-index: 3;
  top: 35%;
  right: 2%;
  width: 20vw;
  min-height: 50vh;
  background-color: var(--dynamic-bg-color);
  color: var(--dynamic-text-color);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0 0 0 5px var(--dynamic-text-color); /* Add inner border using box-shadow */
}



#default-text {
  position: absolute;
  z-index: 3; /* new */
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




  /* SEARCH BAR */ 
  #search-input {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.0rem;
  z-index: 1;
  }
  
  body {
    background-image: url('data/images/ai2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    align: center;
    color: var(--dynamic-text-color);
    font-size: 1rem;
    line-height: 1;
  }


    
.custom-infoTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  
  color: #333;
}
  
.custom-markerPopup {
    font-family: 'Oswald', sans-serif;
    font-size: 1.0rem;
    align: center;
    color: #333;
}

.custom-markerPopup-center {
      text-align: center;
}
  
.custom-markerPopup-light {
      color: #999;  /* Change this to any color you want for deemphasized text */
      font-weight: normal;
}
  

.field-name {
    font-size: 2.5em; /* Adjust these values as needed */
}
  
.field-name2 {
  font-size: .5em; /* This should be smaller than .field-name */
}
.found-date {
  font-size: .4em; /* This should be between .field-name and .field-name2 */
}

.host-school {
  font-size: 1.5em; /* This should be between .field-name and .field-name2 */
}

h1, h2, h3, h4, h5,   {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--ash-gray);
  /* line-height: 1; */
  /* padding: 0%; */
  }
  
  h1 {
    font-size: 2.5em;
    
  }
  
  h2 {
    font-size: 1.75em; /* Adjust the value as per your preference */
  }
  
  h3 {
    font-size: 1.25em; /* Adjust the value as per your preference */
  }
  
  h4 {
    font-size: 1.1em; /* Adjust the value as per your preference */
  }
  h5 {
    font-size: .5em; /* Adjust the value as per your preference */
  }
  h6 {
    align: center;
    color: var(--dynamic-text-color);
    font-size: 1.2rem;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  
  number {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5rem;
  color: var(--white);
  }
  
  a {
  color: var(--reseda-green);
  text-decoration: none;
  }
  
  a:hover {
  color: var(--reseda-green-2);
  text-decoration: underline;
  }
  






/* ... all your existing CSS ... */
@media only screen and (max-width: 916px) {
  .container {

    flex-direction: column;
    align-items: left;
  }

  #map {
    height: 100%;
  }

  #mapControlsContainer {
    /* block the display */
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    padding: 5px;
  }

  #distanceBlock {
    position: relative;
    width: 90%;
    bottom: 0;
    left: 5%;
    margin-top: 10px;
    transform: none;
  }

  #hostInfo, #fieldInfo {
    width: 90%;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }

  #search-input {
    top: 10px;
    left: 10px;
  }

  .field-name {
    font-size: 1em;
  }

  .field-name2, .found-date {
    font-size: .4em;
  }

  .host-school {
    font-size: .8em;
  }

  h1, h2, h3, h4, h5 {
    font-size: .8em;
  }

  .custom-infoTitle {
    font-size: 1.2rem;
  }

  .custom-markerPopup {
    font-size: .8rem;
  }
}
