@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair Display&display=swap');



:root {
  --dynamic-bg-color: #627454;
  --dynamic-text-color: #f8e2e2;
  --white: #f8e2e2;
  --ash-gray: #e0e6dc;
  --ash-gray-2: #BCC4B4;
  --ebony:#4D5D42;
  --reseda-green: #627454;
  --reseda-green-2: #748667;
  --black: #000000;
  }


  /* BANNER IMAGE */
// .banner {
  width: 100%;
  height: 20vh; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  max-height: 100%;
  
}


.container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

#map {
  position: relative; /* new */
  flex: 4;
  height: 100%;
  z-index: 0; /* new */
}

#distanceBlock {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dynamic-bg-color);
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  height: ;
  z-index: 1;
  text-align: center;
  box-shadow: inset 0 0 0 5px var(--dynamic-text-color); /* Add inner border using box-shadow */
}


#hostInfo {
  position: absolute;
  top: 5%; /* Adjust this value to suit your design */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: var(--ash-gray);
  color: var(--black);
  border-radius: 10px;
  padding: 10px;
}

#hostInfo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid var(--black);
  background-color: var(--ash-gray);
  border-radius: 12px;
  pointer-events: none;
  z-index: -1;
}






#mapInfo {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


#fieldInfo {
  position: absolute;
  z-index: 3;
  top: 30%;
  right: 2%;
  width: 20vw;
  min-height: 30vh;
  background-color: var(--dynamic-bg-color);
  color: var(--dynamic-text-color);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0 0 0 5px var(--dynamic-text-color); /* Add inner border using box-shadow */
}

/* Map control Box and Elements */
#mapControls {
  fontSize: '20px';
  fontFamily: 'Arial, sans-serif';
  padding: '10px';
  backgroundColor: '#007BFF';
  color: 'white';
  border: 'none';
  borderRadius: '5px';
  margin: '10px';
  width: '120px';
  height: '50px';
  position: 'absolute';
}

#resetButton {
  fontSize = '20px'; // make the text bigger
  fontFamily = 'Arial, sans-serif'; // use Arial font
  padding = '10px'; // add some padding around the text
  backgroundColor = '#007BFF'; // set background color to blue
  color = 'white'; // set text color to white
  border = 'none'; // remove border
  borderRadius = '5px'; // round the corners
}

#default-text {
  position: absolute;
  z-index: 3; /* new */
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




  /* SEARCH BAR */ 
  #search-input {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.0rem;
  z-index: 1;
  }
  
  body {
    background-image: url('data/images/ai2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    align: center;
    color: var(--dynamic-text-color);
    font-size: 1rem;
    line-height: 1;
  }


  /* BUTTONS ON MAP*/
.reset-button {
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}
.custom-infoTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  
  color: #333;
}
  
.custom-markerPopup {
    font-family: 'Oswald', sans-serif;
    font-size: 1.0rem;
    align: center;
    color: #333;
}

.custom-markerPopup-center {
      text-align: center;
}
  
.custom-markerPopup-light {
      color: #999;  /* Change this to any color you want for deemphasized text */
      font-weight: normal;
}
  

.field-name {
    font-size: 2.5em; /* Adjust these values as needed */
}
  
.field-name2 {
  font-size: .5em; /* This should be smaller than .field-name */
}
.found-date {
  font-size: .4em; /* This should be between .field-name and .field-name2 */
}

.host-school {
  font-size: 1.5em; /* This should be between .field-name and .field-name2 */
}

h1, h2, h3, h4, h5,   {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--ash-gray);
  /* line-height: 1; */
  /* padding: 0%; */
  }
  
  h1 {
    font-size: 2.5em;
    
  }
  
  h2 {
    font-size: 2em; /* Adjust the value as per your preference */
  }
  
  h3 {
    font-size: 1.25em; /* Adjust the value as per your preference */
  }
  
  h4 {
    font-size: .75em; /* Adjust the value as per your preference */
  }
  h5 {
    font-size: .5em; /* Adjust the value as per your preference */
  }
  h6 {
    align: center;
    color: var(--dynamic-text-color);
    font-size: 1.2rem;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  
  number {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5rem;
  color: var(--white);
  }
  
  a {
  color: var(--reseda-green);
  text-decoration: none;
  }
  
  a:hover {
  color: var(--reseda-green-2);
  text-decoration: underline;
  }
  

