@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair Display&display=swap');



:root {
  --dynamic-bg-color: #627454;
  --dynamic-text-color: #f8e2e2;
  --white: #f8e2e2;
  --ash-gray: #e0e6dc;
  --ash-gray-2: #BCC4B4;
  --ebony:#4D5D42;
  --reseda-green: #627454;
  --reseda-green-2: #748667;
  --black: #000000;
  }


  /* BANNER IMAGE */
.banner {
  width: 100%;
  height: 20vh; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  max-height: 100%;
  
}


.container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 80vh;
  margin: 0 auto;
  align-items: center;
}

#map {
  position: relative; /* new */
  flex: 4;
  height: 100%;
  z-index: 0; /* new */
}

#distanceBlock {
  position: absolute;
  bottom: 350px; /* adjust this value to move the block up or down */
  left: 50%; /* centers the block */
  transform: translateX(-50%); /* ensures the block is truly centered */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dynamic-bg-color);
  border-radius: 10px;
  padding: 10px;
  width: 350px; /* specify a width for your distanceBlock */
  height: 50px; /* specify a height for your distanceBlock */
  z-index: 1; /* new */
}


#distanceBlock:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid var(--dynamic-text-color);
  background-color: var(--dynamic-bg-color);
  border-radius: 12px;
  pointer-events: none;
  z-index: -1; /* new */

}

#hostInfo {
  position: absolute;
  top: 50px;
  left: 50%; /* centers the block */
  transform: translateX(-50%); /* ensures the block is truly centered */
  width: 300px; /* specify a width for your hostInfo */
  height: 200px; /* specify a height for your hostInfo */
  justify-content: center;
  align-items: center;
  background-color: var(--ash-gray);
  color: var(--black);
  border-radius: 10px;
  padding: 10px;

}
#hostInfo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid var(--black);
  background-color: var(--ash-gray);
  border-radius: 12px;
  pointer-events: none;
  z-index: -1; /* new */

}






#mapInfo {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; 
  height: 40%;
  background-color: var(--dynamic-bg-color);
  border-radius: 10px;
  padding: 10px;
  position: absolute; 
  bottom: 25px; 
  z-index: 0; /* new */
}

.scoreboard:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid var(--dynamic-text-color);
  background-color: var(--dynamic-bg-color);
  border-radius: 12px;
  z-index: 0; /* new */
}

#fieldInfo {
  position: relative;
  z-index: 3; /* new */
  flex: 3;
  background-color: var(--dynamic-bg-color);
  color: var(--dynamic-text-color);
  text-align: center;
  justify-content: space-between; /* space between the blocks */
}

#default-text {
  position: absolute;
  z-index: 3; /* new */
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




  /* SEARCH BAR */ 
  #search-input {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.0rem;
  z-index: 1;
  }
  
  body {
    background-image: url('data/images/ai2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    font-family: 'Oswald', sans-serif;
    align: center;
    color: var(--dynamic-text-color);
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  .custom-infoTitle {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  
  color: #333;
  }
  
  .custom-markerPopup {
    font-family: 'Oswald', sans-serif;
    font-size: 1.0rem;
    align: center;
    color: #333;
    }

    .custom-markerPopup-center {
      text-align: center;
  }
  
  .custom-markerPopup-light {
      color: #999;  /* Change this to any color you want for deemphasized text */
      font-weight: normal;
  }
  

  
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif;
  color: var(--ash-gray);
  line-height: 1;
  padding: 0%;
  }
  
  h3 {
  font-family: 'Lobster', sans-serif;
  color: var(--ash-gray);
  letter-spacing: 1px;
  }
  
  number {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5rem;
  color: var(--white);
  }
  
  a {
  color: var(--reseda-green);
  text-decoration: none;
  }
  
  a:hover {
  color: var(--reseda-green-2);
  text-decoration: underline;
  }
  

  
/* DIFFERENT SCREEN SIZE LAYOUTS BELOW */
  @media (max-width: 1024px) {
    #map, .scoreboard {
      height: 70vh;
    }
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 1rem;
    }
    
    .scoreboard {
      width: 80vw;
      height: 50vw;
    }
  
    #map {
      height: 50vh;
    }
    
    .container {
      flex-direction: column;
    }
  }
  