.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title_bar title_bar title_bar"
    "map_element map_element field_info"
    "map_element map_element game_info";
}

.map_element {
  display: grid;
  grid-template-columns: 1.1fr 1.4fr 0.6fr;
  grid-template-rows: 0.2fr 2.1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "search_element . ."
    ". . ."
    "map_bottom_container map_bottom_container map_bottom_container";
  grid-area: map_element;
  background-color: lightblue; /* Add background color */
}

.search_element {
  grid-area: search_element;
  background-color: lightgreen; /* Add background color */
}

.map_bottom_container {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". distance_click_element ."
    ". distance_click_element ."
    ". . .";
  grid-area: map_bottom_container;
  background-color: lightgray; /* Add background color */
}

.distance_click_element {
  grid-area: distance_click_element;
  background-color: lightyellow; /* Add background color */
}

.title_bar {
  grid-area: title_bar;
  background-color: lightcoral; /* Add background color */
}

.field_info {
  grid-area: field_info;
  background-color: lightpink; /* Add background color */
}

.game_info {
  grid-area: game_info;
  background-color: lightsalmon; /* Add background color */
}
